.heading {

    &--main {
        @apply font-bold text-3xl md:text-4xl mb-2;
        letter-spacing: 1px;
    }

    &--underline {
        @apply text-center relative text-2xl md:text-3xl font-bold;
        padding: 1.5rem;
        margin-bottom: 3rem;

        &::before {
            position: absolute;
            bottom: 0;
            left: calc(50% - 20px);
            width: 40px;
            height: 5px;
            content: '';
            border-radius: 3px;
            background: #333;
        }
    }
}
