@keyframes anim-1 {
    from {
        left: -200px
    }
    to {
        left: -26px;
    }
}

.sidebar--active {
    width: 0 !important;
    transition: .5s;
    animation: anim-1 2.5s;
    padding: 0;
    margin: 0;
}

.main-content--active {
    margin-left: 0 !important;
    transition: .5s;
}

.burger-menu--active {
    left: 10px !important;
}

.hamburger-menu-btn__wrapper {
    display: flex;
    align-items: center;
    position: fixed;
    top: 20px;
    left: 217px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 100;
}

.hamburger-menu__btn,
.hamburger-menu__btn_before,
.hamburger-menu__btn_after {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: black;
    z-index: 2;
    transition: .25s;
}

.hamburger-menu__btn {
    top: 0;
    transform: rotate(45deg);
}

.hamburger-menu__btn_before {
    top: 0;
    transform: rotate(45deg);
}

.hamburger-menu__btn_after {
    top: 0;
    transform: rotate(135deg);
}

.hamburger-menu__btn_active {
    top: 0;
}

.hamburger-menu__btn_before-active {
    top: -8px;
}

.hamburger-menu__btn_after-active {
    top: 8px;
}

.hamburger-menu__btn_active,
.hamburger-menu__btn_after-active,
.hamburger-menu__btn_before-active {
    transform: rotate(0deg);
    background-color: white;
}
